<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>


        // var a = 253;
        // var c = 0;
        // console.log(a)
        // while (a > 0) {
        //     var num = a % 10;
        //     console.log('% ' + num)
        //     newnum = num * num * num;
        //     console.log(newnum)
        //     c = c + newnum;
        //     a = parseInt(a / 10)
        //     console.log("/" + a)
        // }
        // console.log(c);




        // var arr = ["abcd", "abbd", "csca", "sasd"]
        // for (i = 0; i < arr.length; i++) {
        //     var newarr = arr[i];
        //     console.log(newarr)
        //     var char = newarr.charAt(i)
        //     console.log(char)
        // }











        // var a = 11;
        // console.log(a)
        // var b = 0;
        // while (a > 0) {
        //     num = a % 10;
        //     newnum = num * num * num * num
        //     b = b + newnum
        //     console.log(b)
        //     a = parseInt(a / 10)
        //     console.log(a)
        // }
        // console.log(b);



        // var a = 24;
        // for (let i = 0; i < a; i++) {
        //     if (a % i == 0) {
        //         console.log("divisible  is:", i);
        //     }
        //     else {
        //         console.log("not- divisible  is:", i);
        //     }
        // }


        var a = 45;
        var b = 0
        console.log("given number is:", a)
        for (let i = 0; i < a; i++) {
            if (a % i == 0) {
                var b = b + i;
                console.log(b)
                if (b == a) {
                    console.log("given is clean:", b)

                }
                else {
                    console.log("given is not clean:", b)
                }
            }
        }

        // arr = [1, -1, [2, 4], "abc"]
        // for (let i = arr.length - 1; i > 0; i--) {
        //     let item = arr[i];
        //     if (typeof (item) == "Array") {
        //         for (let j = 0; j < item.length; j++) {
        //             let item2 = item[j];
        //             console.log(Item2 * 10);
        //         }
        //     }
        //     else if (typeof (item) == "string") {
        //         console.log("Name is: ", item);
        //     }
        //     else {
        //         console.log("item", item);
        //     }
        // }
    </script>
</body>

</html>